@import "font";

html {
  height: 100%;
}

body {
  background: #eee;
  height: 100%;
  font-family: RobotoRegular;
  margin: 0;
}

header {
  top:0;
  background-color: #1976d2;
  height: 144px;
  width:100%;
  position: fixed;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.main-content {
    margin:0 auto;
    width:900px;
}

.list-wrapper {
  top:30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
  border-radius: 2px;
  position: absolute;
  margin-bottom: 100px;
  z-index:1;

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;

    li {
      list-style: none;
      padding: 15px 10px;

      .close-button {
        cursor: pointer;
        margin-right: 10px;
        visibility: hidden;
      }

      &:hover {
        background: #eee;
        cursor: pointer;

        .close-button {
          visibility: visible;
        }
      }
    }
  }

  .new-task-holder {
    height: 55px;
    border-bottom:1px solid #dadada;

    input {
      margin:10px;
      padding: 10px;
      width: 400px;
      border-radius: 3px 0 0 3px;
      border:solid 1px #c1c1c1;
      border-right: 0px;
      outline: none;
      margin-right: 0;
      height: 16px;
    }

    .button {
      padding: 10px;
      margin: 10px;
      margin-left:0;
      background: #bcbcbc;
      cursor: pointer;
      float: right;
      border-radius: 0 3px 3px 0;
    }
  }
}
